@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
body {
    background-color: ivory;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
}

.title {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.subscribe {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    display: block;
}

.info {
    display: flex;
    justify-content: center;
}

.e-mail{
    margin-right: 10px;
}

#submit-btn{
    width: 10rem;
    margin-top: 10px;
    background-color: orange;
    border-radius: 30px;
    border: none;
    font-size: 1.2rem;
    padding: 15px;
    cursor: pointer;
}


.quotes {
    padding-top: 30px ;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.quote{
    font-size: 2rem;
    font-family: 'Mooli', sans-serif;
    line-height: 1.5;
}

.author{
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
}

footer {
    margin-top: auto;
}

/* thank-you page */
 .thank-you{
    font-family: 'Quicksand', sans-serif;
    text-align:center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 }