{{template "admin" .}}

{{define "content"}}
       
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">NAME</th>
                </tr>
            </thead>
            <tbody>
                {{range $index, $subscriber := .Subscribers}}
                <tr class="table-group-divider">
                    <th scope="row">{{inc $index}}</th>
                    <th>{{$subscriber.Email}}</th>
                    <th>{{$subscriber.Name}}</th>
                </tr>
                {{end}}
            </tbody>
            
        </table>
        
    

{{end}}