{{template "admin" .}}

{{define "css"}}
<style>
    
</style>
{{end}}

{{define "content"}}
        <button type="button" class="btn btn-success" id="add">Add quote</button>
        <button type="button" class="btn btn-danger" id="del">Delete quote</button>
        <div class="custom-accordion" id="accordion">
            <div class="card">
                <form method="post">
                    <textarea name="quote" id="quote" cols="30" rows="10"></textarea>
                    <input type="text" name="author" id="author" placeholder="author">
                    <button type="submit">Add</button>
                </form>
            </div>
        </div>
        <table class="table" style="margin-top: 20px;">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">QUOTE</th>
                    <th scope="col">AUTHOR</th>
                </tr>
            </thead>
            <tbody>
                {{range $quote := .Quotes}}
                <tr class="table-group-divider">
                    <th scope="row">{{$quote.ID}}</th>
                    <th>{{$quote.Quote}}</th>
                    <th>{{$quote.Author}}</th>
                </tr>
                {{end}}
            </tbody>
            
        </table>
{{end}}

{{define "js"}}
<script>
    let add_btn = document.getElementById('add');
    let accordion = document.getElementById('accordion');
    add_btn.addEventListener('click',function(){
       
    });

</script>
{{end}}