{{template "admin" .}}

{{define "css"}}

<style>
    form {
        max-width: 350px;
        margin: 0 auto;
    }
    label {
        width: 100%;
    }
    textarea{
        width: 100%;
    }
    input{
        width: 100%;
    }
    button{
        margin-top: 10px;
    }
</style>
{{end}}


{{define "content"}}

<form action="" method="post">
    <input type="hidden" name="csrf_token" id="csrf_token" value="{{.CSRFToken}}">
    <label for="quote">Quote</label>
    <textarea name="quote" id="quote" rows="5"></textarea>
    <label for="author">Author</label>
    <input type="text" name="author" id="author">
    <button type="submit">Save</button>
</form>