{{define "admin"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>
    <div class="header">
        <div class="menu">
            <div class="menu-item"><a href="/dashboard">Dashboard</a></div>
            <div class="menu-item"><a href="/quotes">Quotes</a></div>
            <div class="menu-item"><a href="/subscriptions">Subscriptions</a></div>         
        </div>
    </div>
    {{block "content" .}}

    {{end}}
    {{block "js" .}}

    {{end}}
</body>
</html>
{{end}}
