{{template "admin" .}}

{{define "content"}}
<div class="container">
    <div class="cards">
        <div class="card">20 quotes</div>
        <div class="card">heeeeeey</div>
    </div>
    <div class="cards">
        <div class="card">100 subscribers</div>
        <div class="card">20-08-2023 aradu96.v@gmail.com</div> 
    </div>
</div>
{{end}}