{{template "base" .}}

{{define "content"}}
<div class="title">
    <h1>Privacy Policy</h1>
    <p>The mail list of addresses will not be sold,lent,borrowed,etc.</p>
    <p>Its only purpose is to know whom to send the daily quotes to.</p>
</div>
{{end}}